.gradient-card--blue{
    background: var(--card-background--blue-gradient);
    overflow: hidden;

    /* border-radius: inherit; */
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* margin-bottom: ; */
}

.button_text--iconable{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1px;
    align-items: center;
}