.prompt_cell{
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    box-sizing: border-box;

    padding: 9px 12px;
    border-radius: 12px;

    background-color: var(--vkui--color_background_secondary);
}

.prompt_cell__value{
    flex: 1;
    text-align: center;

    font-weight: 500;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: -0.02em;
}

.prompt_cell__value__text{
    color: var(--vkui--color_text_primary);
}

.prompt_cell__value__text--disabled{
    color: var(--vkui--color_text_secondary);
}