.play_card{
    position: relative;

    /* min-width: 110px;
    min-height: 165px; */

    aspect-ratio: 110/165;

    width: auto;
    height: auto;

    /* max-height: max-content; */

    box-sizing: border-box;
}

.play_card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    aspect-ratio: 110/165;

    box-sizing: border-box;
}

.play_card__hide-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: auto;
    height: auto;

    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);

    border-radius: inherit;
}

.play_card__playercover{
    background-color: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 8px;
    color: var(--vkui--color_text_secondary);
}

.play_card__playercover--meMark{
    background-color: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 8px;
    color: var(--vkui--color_text_secondary);

    background-color: #bdd4ebbc;
}

.play_card__selectedcover{
    background-color: none;
    background: none;

    z-index: 3;
}

.play_card__selectedcover--icon{
    position: absolute;
    top:5px;
    right: 5px;

    color: var(--vkui--color_icon_accent);

    z-index: 3;

    background-color: white;
    padding: 1px;
    border-radius: 50px;
}

.play_card__selectedcover--icon--positive{
    background-color: var(--vkui--color_icon_positive);
    border: 1px solid white;
}

.play_card__hide-cover--light{
    background-color: none;
}

.play_card__hide-cover--icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover_icon__box{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1000px;
    padding: 12px;
    width: 28px;
    height: 28px;
}

.play_card__down-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: auto;
    height: auto;

    z-index: 0;
    /* background: rgba(0, 0, 0, 0.4); */

    border-radius: inherit;
}

.play_card--empty {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.28) 100%);
    border-radius: 16px;
    box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.178) !important;
    box-sizing: border-box;
}

.play_card--playempty {
    background: none;
    background-color: none;

    border: 1px dashed var(--vkui--color_icon_tertiary);
    margin: 1px;
    border-radius: 14px;
}

.play_card__image--deck{
    border-radius: 14px !important;
}

.play_card--playempty--selected {
    border: 2px solid var(--vkui--color_icon_accent);
}

.play_card--playempty--leadselected {
    border: 2px solid var(--vkui--color_icon_positive);
}

.gradient-wave {
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    background-size: 200% 200%;
    animation: gradientAnimation 1s infinite ease-in-out;
}



@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    0% {
        background-position: 0% 0%;
    }
}


.span-wrap{
    text-align: center;
    display: block;
}

.accent-color{
    color: var(--vkui--color_icon_accent)
}

.play_card--playempty_background{
    background: radial-gradient(92.07% 104.33% at 45% 40.76%, rgb(235, 235, 235, 0.1) 0%, rgb(38, 136, 235, 0.5) 100%);
}