.parted-progressbar__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    gap: 4px;

    width: 100%;
    box-sizing: border-box;

    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
}

.inner-progressbar__stack{
    position: relative;
    flex: 1;
}

.inner-progressbar__stack > *{
    position: absolute;
}

.inner-progressbar{
    position: absolute;

    height: 2.5px;
    border-radius: 3px;

    transition: width .2s ease;
}

.inner-progressbar--background{
    /* background-color: gray; */
    background-color: var(--vkui--color_icon_tertiary);
    /* filter: brightness(0.5); */

    width: 100%;
}

.inner-progressbar--active{
    background-color: var(--vkui--color_icon_accent);
}

.inner-progressbar__stack--smalltime > .inner-progressbar--active{
    animation: smalltime-flashing 750ms ease-in-out infinite;
}

@keyframes smalltime-flashing {
    0%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(1.4);
    }
    100%{
        filter: brightness(1);
    }
}